<script type="text/javascript" charset="utf-8">
    componentHandler.upgradeDom();
    
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.querySelector('#show-dialog1');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    
    showDialogButton.addEventListener('click', function() {
      dialog.showModal();
    });
    
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });
</script>

<div class="create-container">
    <div class="create-container-content">
        <div class="ordered-toggle">
            <h5>Ordered</h5>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch1">
                <input type="checkbox" id="switch1" class="mdl-switch__input">
            </label>
        </div>
    
        
        <form action="#">
            <div class="recipe-search--header mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" rows="5" type="text" ng-model="newRecipe">
                <label class="mdl-textfield__label">Recipe Name</label>
            </div>
            
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" rows="7">
                <input class="mdl-textfield__input" type="text" id="desciption" ng-model="description">
                <label class="mdl-textfield__label" for="desciption">Description...</label>
              </div>
            
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                ng-click="submitNewRecipe()" ng-href="#/">
                <i class="material-icons">mode_edit</i>
            </button>
        </form>
        
        <div class="mdl-card demo-card-wide mdl-shadow--2dp">
            <div class="mdl-card__title">
                <div class="typo-styles__demo mdl-typography--display-2">
                    {{ newRecipe }}
                </div>
            </div>

            <div class="mdl-card__supporting-text">
                <span ng-repeat="ingredient in recipeList">
                    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                        <span class="mdl-chip__contact mdl-color--accent mdl-color-text--white">{{ ingredient.segment }}</span>
                        <span class="mdl-chip__text">Amt: {{ingredient.amount}}</span>
                        <a class="mdl-chip__action"><i class="material-icons" ng-click="deleteIngredient($index)">cancel</i></a>
                    </span>
                </span>
            </div>
            
            <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Myx! It
                </button>
            </div>

            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
        
        <div class="top-button-row mdl-grid mdl-grid--no-spacing">
            <button id="show-dialog1" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>1</strong></button>
            <button id="show-dialog2" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>2</strong></button>
            <button id="show-dialog3" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>3</strong></button>
            <button id="show-dialog4" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>4</strong></button>
        </div>
        
        <div class="bottom-button-row mdl-grid mdl-grid--no-spacing">
            <button id="show-dialog5" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>5</strong></button>
            <button id="show-dialog6" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>6</strong></button>
            <button id="show-dialog7" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>7</strong></button>
            <button id="show-dialog8" class="recipe-dialog mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                mdl-button--primary"><strong>8</strong></button>
        </div>
        

            
    </div>
    <!-- End of create-container-content -->
    
</div>
<!-- End of create-container -->