<script type="text/javascript">
    componentHandler.upgradeDom();
</script>

<div id="create-container" class="create-container">
    <div class="create-container-content">
        <div class="ordered-toggle">
            <h5>Ordered</h5>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch1">
                <input type="checkbox" id="switch1" class="mdl-switch__input" ng-model="recipe.ordered"> <br />
            </label>
        </div>
    
        
        <form action="#">
            <div class="recipe-search--header mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" rows="5" type="text" ng-model="recipe.name">
                <label class="mdl-textfield__label">Recipe Name</label>
            </div>
            
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" rows="7">
                <input class="mdl-textfield__input" type="text" id="desciption" ng-model="recipe.author">
                <label class="mdl-textfield__label" for="desciption">Created By</label>
              </div>
            
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                ng-click="submitNewRecipe()" ng-href="#/">
                <i class="material-icons">mode_edit</i>
            </button>
        </form>
        
        <div class="mdl-card demo-card-wide mdl-shadow--2dp">
            <div class="mdl-card__title">
                <div class="typo-styles__demo mdl-typography--display-2">
                    {{ recipe.name }}
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <span ng-repeat="ingredient in recipe.ingredients">
                    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                        <span class="mdl-chip__contact mdl-color--accent mdl-color-text--white">{{ ingredient.segment }}</span>
                        <span class="mdl-chip__text">Amt: {{ ingredient.amount }}</span>
                        <a class="mdl-chip__action"><i class="material-icons" ng-click="deleteIngredient($index)">cancel</i></a>
                    </span>
                </span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Myx! It
                </button>
            </div>

            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
        
        <div>
            <div class="top-button-row mdl-grid mdl-grid--no-spacing">
                <button id="show-action1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,1)"><strong>1</strong></button>
                <button id="show-action2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,2)"><strong>2</strong></button>
                <button id="show-action3" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,3)"><strong>3</strong></button>
                <button id="show-action4" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,4)"><strong>4</strong></button>
            </div>
            
            <div class="bottom-button-row mdl-grid mdl-grid--no-spacing">
                <button id="show-action5" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,5)"><strong>5</strong></button>
                <button id="show-action6" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,6)"><strong>6</strong></button>
                <button id="show-action7" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,7)"><strong>7</strong></button>
                <button id="show-action8" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                    mdl-button--primary" ng-click="showRecipeAmt($event,8)"><strong>8</strong></button>
            </div>
        </div>

            
    </div>
    <!-- End of create-container-content -->
    
</div>

<script type="text/ng-template" id="recipeSlider.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Amount in mL {{ingredient.amt}}</h2>
                <span flex></span>
                
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-slider-container>
                <div>
                    <md-slider md-discrete id="recipeSlider" aria-label="Recipe Slider" ng-model="ingredient.amt" step=".1" min="5" max="100"></md-slider>
                </div>
            </md-slider-container>
            <div id="dialogOK">
                <md-button class="md-primary md-raised" ng-click="answer(ingredient.amt)">OK</md-button>
            </div>
        </md-dialog-content>
    </md-dialog>
</script>
<!-- End of create-container -->