h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

body {
    margin: 2em;
}

.btn-group {
    margin: 0px 2px 0px 2px;
    width: 100%
}

.btn {
    border-radius: 4px !important;
    size: 50px;
    margin: 2px 2px 2px 2px;
    padding: 20px 23px;
    font-weight: 500; 
    width:24.5%
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
.btn-primary.active, .open > .dropdown-toggle.btn-primary {    
    background: #33a6cc; 
}

.btn-primary.raised {
    box-shadow: 2px 2px 0px 0px #666666;

}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
/*
 *   * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 *     * for the full set of master styles used by the documentation samples
 *       */

